.App{
    text-align: center;
    background-color: white;
    margin: 0px; /* so we reach edge of screen HNN */
    padding: 0px; /* so we reach edge of screen HNN */
}


.navigation-bar{
    position:sticky;
    top: 0px;
    background-color: white;
    height: 60px;
    margin: 0px; /* so we reach edge of screen HNN */
    padding: 0px; /* so we reach edge of screen HNN */
    /*background-image: linear-gradient(to left, white , lavender); */
    border-bottom: 2px solid lightgray;
}

.logo-container-active{
    position: relative;
    float: left; /* Put logo to the left of page HNN */

    /* shift it slightly so it isn't touching edge of screen */
    /* Top Right Bottom Left HNN */
    padding: 2px 10px 2px 10px;
    height: 55.5px;
}

.logo-container-inactive{
    position: relative;
    float: left; /* Put logo to the left of page HNN */

    /* shift it slightly so it isn't touching edge of screen */
    /* Top Right Bottom Left HNN */
    padding: 2px 10px 2px 10px;
    height: 55.5px;
}

.logo-image{
    height: 50px
}

.inactive-link{
        text-decoration: none !important; /* The other team member still refuses to replace their element declaration with classes so have to override their text deco HNN */
        float: left;
        text-align: center;
        color: black; /* Text Color HNN */
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        /* Top Right Bottom Left HNN */
        padding: 20px 12px 20px 12px
}

.inactive-link:hover{
    background-color: limegreen;
    color: #FFFAF0; /* Text Color HNN */

}

.active-link{
    text-decoration: none !important; /* The other team member still refuses to replace their element declaration with classes so have to override their text deco HNN */
    float: left;
    text-align: center;
    color: black; /* Text Color HNN */
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    /* Top Right Bottom Left HNN */
    padding: 20px 12px 20px 12px
}

.active-link:hover{
    background-color: limegreen;
    color: #FFFAF0;
}

.logged-in-container{
    float: right;
    margin: 0px; /* so we reach edge of screen HNN */
    padding: 0px; /* so we reach edge of screen HNN */
}

.logged-in-username-active{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.logged-in-username-inactive{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.logged-in-header{
    margin: 10px 0px 0px 0px;
    color: black;
    font-size: 2em;
    text-decoration: none;
}

.logged-in-header:hover{
    text-decoration: underline;
}

.logout-button{
    border-radius: 4px;
    line-height: 1.133;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: inline;
    width: 130px;
    background-color: limegreen;
    color: #FFFAF0;
    padding: 8px 16px;
    margin: 10px 10px 10px 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.logout-button:hover{
    background-color: forestgreen;
}

a{
    /* Don't underline links!!! HNN */
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }